

.content {
    text-align: center;
    background: var(--content-color);/*
    box-sizing: 2px 2px 2px rgb(0,0,0,.5);*/
    padding: 15px;
    width: fit-content;
    min-width: 150px;
    min-height: 150px;
    border-radius: 5px;
    margin: 20px;
    animation: appear  500ms 1 ease-in-out;
}

.errorMessage {
    color: red;
    text-align: center;
}

div.start {
    max-width: 70%;
}

.content h1 {
    color: black;
}

span {
    margin: 5px;
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
