

.content {
    text-align: center;
    background: var(--content-color);/*
    box-sizing: 2px 2px 2px rgb(0,0,0,.5);*/
    padding: 15px;
    width: fit-content;
    min-width: 150px;
    min-height: 150px;
    border-radius: 5px;
    margin: 20px;
    animation: appear  500ms 1 ease-in-out;
    transition: background-color 0.4s;
}

header h2 a:hover {
    color: dimgrey;
}

header h2 a {
    transition: color 0.25s;
}

.errorMessage {
    color: red;
    text-align: center;
}

div.loading {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border-right: 2px solid var(--dark-main-color);
    border-bottom: 2px solid var(--dark-main-color);
    animation: rotate 1s infinite;
    transform-origin: 25px 25px;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {

        transform: rotate(360deg);
    }
}

div.start {
    max-width: 70%;
}

.content h1 {
    color: black;
}

span {
    margin: 5px;
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
