

.content {
    text-align: center;
    background: var(--content-color);/*
    box-sizing: 2px 2px 2px rgb(0,0,0,.5);*/
    padding: 15px;
    width: fit-content;
    min-width: 150px;
    min-height: 150px;
    border-radius: 5px;
    margin: 20px;
    animation: appear  500ms 1 ease-in-out;
    transition: background-color 0.4s;
}

.editButton {
    border-radius: 5px;
    color: black;/*
    box-shadow: 1px 1px 1px 1px darkgray, -1px -1px 1px 1px darkgray;*/
    width: 55px;
    min-height: 25px;
    border: 1px solid lightgray;
    background: linear-gradient(rgba(150, 150, 150, 0.4), rgba(120, 120, 120, 0.7));
    /**transition: background 0.4s;*/
}

.editButton:hover {
    color: black;
    background: linear-gradient(rgba(120, 120, 120, 0.7), rgba(150, 150, 150, 0.4));
}

.editButton:focus {
    box-shadow: inset 1px 1px 1px 1px #555, inset -1px -1px 1px 1px #555;
}

header h2 a:hover {
    color: dimgrey;
}

header h2 a {
    transition: color 0.25s;
}

.errorMessage {
    color: red;
    max-width: 350px;
    text-align: center;
}

div.loading {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border-right: 2px solid var(--dark-main-color);
    border-bottom: 2px solid var(--dark-main-color);
    animation: rotate 1s infinite;
    transform-origin: 25px 25px;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {

        transform: rotate(360deg);
    }
}

div.start {
    max-width: 70%;
}

.content h1 {
    color: black;
}

span {
    margin: 5px;
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
