.Input {
    margin-bottom: 15px;
    display: flex;
}

.Input label {
    margin-bottom: 3px;
    display: block;
    font-weight: bold;
    width: 150px;
}



.Input span {
    color: #f01f30;
    font-size: 12px;
    font-weight: bold;
}

