.boardList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

div .board {
    max-width: 250px;
    transition: background-color 500ms;
    background-color: white;
    box-shadow: inset 1px 1px 1px 1px darkgray, inset -1px -1px 1px 1px darkgray;
}

.board:hover {
    box-shadow: inset 2px 2px 2px 2px darkgray, inset -2px -2px 2px 2px darkgray;
    background-color: rgba(250, 250, 250, 0.7);

    cursor: pointer;
}

.board h2 {
    margin: 0;
}

.board-delete {
    float: right;
    margin: 0;
}


.add {
    text-align: center;
    font-size: 9.5em;
    font-weight: lighter;
}

