.boardList {
    display: flex;
    flex-wrap: wrap;
}

div .board {
    max-width: 250px;
    transition: background-color 500ms;
    background-color: white;
    box-shadow: inset 1px 1px 1px 1px darkgray, inset -1px -1px 1px 1px darkgray;
}

.board:hover {
    box-shadow: inset 2px 2px 2px 2px darkgray, inset -2px -2px 2px 2px darkgray;
    background-color: var(--content-color);
    cursor: pointer;
}

.add {
    text-align: center;
    font-size: 9.5em;
    font-weight: lighter;
}

.editButton {
    border-radius: 5px;
    color: black;
    border: none;
    min-width: 25px;
    min-height: 25px;
    background: linear-gradient(rgba(170, 170, 170, 0.3), rgba(190, 190, 190, 0.1)), url('./edit-icon.png') center no-repeat;
}

.editButton:hover {
    color: black;
    background: linear-gradient(rgba(190,190,190,0.1), rgba(170,170,170, 0.3)), url('./edit-icon.png') center no-repeat;
}
