:root {
  --main-color: #2ba9e4;
  --content-color: rgba(230,230,230,0.7);
  --dark-main-color: #1997c1;
}

.App {
  display: grid;
  grid-template-rows: 50px 1fr 50px;
  height: 100%;
}

input, select {
  display: block;
  justify-self: end;
  box-sizing: border-box;
  border: 1px solid #bebebe;
  padding: 7px;
  margin: 0 5px;
  width: 100%;
  outline: none;
}

input:focus, select:focus {
  outline: 2px solid var(--main-color);
}

.mainPart {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  background: linear-gradient(270deg, #cef2fa 0%, #59bfef 100%);
}

.mainPart > div {
  width: 100%;
}

.mainPart h1 {
  color: #fff;
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}


header h2 {
  flex-grow: 1;
  text-align: center;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

header, footer {
  background-color: var(--main-color);
  z-index: 1;
  box-shadow: 0 0 2px 2px grey;
}

footer {
  padding: 15px 0 0 20px
}

.arrow {
  font-weight: bold;
  font-size: 1.25em;
  transition: color 0.4s;
  color: rgba(110,110,110, 0.7);
}


.edit {
  display: inline-block;
  margin: 0;
  transform: rotate(180deg);
}


.arrow:hover {
  color: rgba(60,60,60, 0.7);
  cursor: pointer;
}

.arrow:focus {
  color: rgba(60,60,60, 0.7);
  cursor: pointer;
}

button {
  background-color: var(--main-color);
  border: none;
  padding: 4px;
  margin: 5px;
  transition: background-color 0.35s;
}

button:hover {
  background-color: white;
  color: var(--main-color);
  font-weight: bold;
  cursor: pointer;
}

.field {
  display: inline-block;
}

button:focus {
  outline: none;
  font-weight: bold;
  box-shadow: inset 0 0 2px 2px var(--dark-main-color);
}

header a {
  text-decoration: none;
  color: black;
  margin: 5px
}

.link-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5px;
  border-left: 1px solid #1997c1;
  border-right: 1px solid #1997c1;
  text-decoration: none;
  color: lightyellow;
  margin: 0;
  background: linear-gradient(var(--main-color), var(--dark-main-color));
  /*height: 100%;*/
  align-self: stretch;
}

.link-button:hover {
  background: linear-gradient(var(--dark-main-color), var(--main-color));
  cursor: pointer;
}

.App-link {
  color: #60ceec;
}

