:root {
  --main-color: #2ba9e4;
  --content-color: rgba(230,230,230,0.7);
}

.App {
  display: grid;
  grid-template-rows: 50px 1fr 50px;
  height: 100%;
}

.mainPart {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
  flex-grow: 1;
  width: 100%;
  background: linear-gradient(270deg, #cef2fa 0%, #59bfef 100%);
}

.mainPart > div {
  width: 100%;
  max-width: 1000px;
}

.mainPart h1 {
  color: #fff;
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}


header h2 {
  width: 80%;
  text-align: center;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

header, footer {
  background-color: var(--main-color);
}

footer {
}

button {
  background-color: var(--main-color);
  border: none;
  padding: 4px;
  margin: 5px;
}

button:hover {
  background-color: white;
  color: var(--main-color);
  font-weight: bold;
  cursor: pointer;
}


.App-link {
  color: #60ceec;
}

